<div class="container">
    <div class="logo">
        <img src="../../../assets/images/logotipos/logotipo.png" alt="">
    </div>
    <div class="sideRight">

        <div class="medias">
            <p>Shop</p>
            <p>Blog</p>
            <p>Our Story</p>
        </div>
        <mat-divider></mat-divider>
        <div class="icons">
            <mat-icon aria-hidden="false" fontIcon="search"></mat-icon>
            <mat-icon aria-hidden="false" fontIcon="shopping_cart"></mat-icon>
            <mat-icon aria-hidden="false" fontIcon="person"></mat-icon>
        </div>
    </div>
</div>
