<p-toolbar class="w-4rem m-3">
    <div class="p-toolbar-group-start w-1 p-2">
        <h2>DesaPega</h2>
    </div>
    <div class="p-toolbar-group-center w-5 p-2">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" style="width: 65rem" pInputText />
        </span>
    </div>
    <div class="p-toolbar-group-end w-1 p-2 gap-3">
        <p-divider layout="vertical"></p-divider>
        <i class="pi pi-truck m-2" style="font-size: 2rem"></i>
        <i class="pi pi-user" style="font-size: 2rem"></i>

    </div>
</p-toolbar>