<div class="container">
    <mat-divider></mat-divider>
    <div class="leftside">
        <div class="links">
            <span>CONTACT</span>
            <span>TERMS OF SERVICES</span>
            <span>SHIPPING AND RETURNS</span>
        </div>
        <span>© 2021 Shelly. Terms of use and privacy policy.</span>
    </div>
    <div class="rightside">
        <div class="politicy">
            <span>Give an email, get the newsletter.</span>
            <mat-icon aria-hidden="false" fontIcon="arrow_forward"></mat-icon>
            <mat-divider></mat-divider>
        </div>
        <div class="medias">
            <img src="../../../assets/images/icons/icons8-linkedin-24.png" alt="">
            <img src="../../../assets/images/icons/icons8-facebook-24.png" alt="">
            <img src="../../../assets/images/icons/icons8-instagram-24.png" alt="">
            <img src="../../../assets/images/icons/icons8-twitter-24.png" alt="">
        </div>
    </div>
</div>